body {
  /*margin: 3em;*/
  font-family: Palatino;
  /*font-size: 12pt;*/
}

section.level1 {
  position: relative;
}

h1 {
	font-size: 125%;
	margin-top: 2em;
}
h1.ch {
	font-size: 125%;
	margin-top: 300px;
}

h1.title {
  font-size: 175%;
}


img {
	width: 400px;
	position: absolute;
	top: -350px;
	left: 200px;
	z-index: -1;
}


/* Poem layout */

div.pair {
	  columns: 1;
	  column-break-before: always;
	  break-before: column;
}

section.poem h2 {
  font-size: 110%; 
   margin-top: 0em; margin-bottom: 0em;
  height: 3em;
}



section.poem {
	line-height: 1.25em;
	break-inside: avoid;
	/*border: 1px white solid; /* WHY IS THIS NECESSARY FOR H2 to WORK? */*/
	break-after: always;
	column-break-after: always;
	page-break-after: always ;	
	margin-bottom: 3em;
}

section.chinese {
	/*background-color: #eeeeff;*/
}
section.english  {
	/*background-color: #ffeeee;*/
}

div.line-block {
}
/* Paragraphs layout */


p {
	/*font-size: 14pt;*/
	line-height: 1.35em;
}
