body {
  margin: 3em;
  font-family: helvetica;
  font-size: 12pt;
}

section.level1 {
  position: relative;
}

h1 {
	margin-top: 300px;
}

img {
	width: 400px;
	position: absolute;
	top: -350px;
	left: 200px;
	z-index: -1;
}

h1.invis {
  color: #ffeeee;
	/*visibility: hidden;*/
}

/* Poem layout */

div.pair {
	  columns: 2;
	  margin-top: 3em;
	  /*border-top: 1px black solid;*/
	  column-break-before: always;
	  page-break-before: always;
	  break-before: page;
	  break-before: column;
}

section.poem h2 {
	font-size: 13pt;
  margin-top: 0.5em; margin-bottom: 0em;
  height: 3em;
}



section.poem {
	line-height: 18pt;
	break-inside: avoid;
	border: 1px white solid; /* WHY IS THIS NECESSARY FOR H2 to WORK? */
	break-after: always;
	column-break-after: always;
	page-break-after: always;
}

section.chinese {
	/*background-color: #eeeeff;*/
}
section.english  {
	/*background-color: #ffeeee;*/
}

div.line-block {
}
/* Paragraphs layout */


p {
	font-size: 14pt;
	line-height: 18pt;
}