
body {
    background-color: #fffffd;
    font-family: Garamond, Times;
    font-size: 10pt;
    line-height: 14pt;
    color: purple;
    width: 56em;
    margin: 5em;
}


h1 {
    font-family: Gill Sans, Arial;
    font-size: 18px;
}

sidebar > h1 {
  font-size: 12pt;
}

p {  /* First paragraph */
    margin-top: 1em; margin-bottom: 0;
    text-indent: 0;
    hyphens: auto;
}

p + p { /* Paragraphs that follow paragraphs */
    margin-top: 0;
    text-indent: 1.3em;
    line-height: 1.3em;
}
